html {
   background-color: black;
   text-align: center;
   color: white; 
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-weight: normal;
}

header h1 {
    font-size: 50px;    
}

a {
    color: aquamarine;
    font-size: 16px;
}

body {
    height: 50%;
}

video {
    width: 50%;
    height: auto;

  }
  .flex-container {
    height: 50%;
    display: flex;
    flex-direction: column;
  }
  .flex-item {
    padding: 1em;
    width: 50;
    flex-basis: 50%;
  }
 

  .info-header {
    font-size: 42px;
    font-weight:300;
  }

  .info-content {
    font-size: 21px;
    color: gray;
  }

  img {
    margin-bottom: 40px;
    margin-top: 40px;

  }

  .coming-soon {
    font-size: 42px;
    font-weight:300;
  }

  .copyright {
    font-size: 21px;
    color: gray;
    text-align: right;
    
  }